
{% load static %}

<img src="{% static "images/doctor.png" %}" width="300" height="150" alt="Image Not found"/><br>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <hr>

  <h1 style="font-size: 40px; margin-left: 30px;" class="p-2">
     Add Appointment
  </h1>



  <div class="container m-3">
      <form action="" method="post" enctype="multipart/form-data">

          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" name="Submit">

      </form>
  </div>


  </body>
</html>
