{% load static %}

<img src="{% static "images/patient.png" %}" width="100" height="100" alt="Image Not found"/><br>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>detail page</title>
  </head>
  <body> <br>
    <br><br>
    ID : {{patient.user_id}}<br>
    First Name : {{patient.FirstName}}<br>
    Last Name : {{patient.LastName}}<br>
    profile : {{patient.profilepicture}}<br>
    Address:line1 : {{patient.Address_line1}}<br>
    city : {{patient.city}}<br>
    state : {{patient.state}}<br>
    pincode : {{patient.pincode}}<br>

  </body>
</html>
