{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <img src="{% static "images/blog.png" %}" width="300" height="150" alt="Image Not found"/><br>


    <table border="5">
      <tr>
        <th>category</th>
        <th>title</th>
        <th>image</th>
        <th>summary</th>
        <th>content</th>

      </tr>
    {% for s in blog_list %}
    <tr>
      <td>{{s.category.name}}</td>
      <td>{{s.title}}</td>
      <td>{{s.image}} </td>
      <td>{{s.summary}}</td>
      <td>{{s.content}}</td>

    </tr>
    {% endfor %}
    <br>
    <a href="/"> <button type="button" name="homepage">GO HOMEPAGE</button> </a>
  </body>
</html>
